language: node_js
node_js: '8.11.1'
cache: npm

before_deploy:
  - npm install
  - npm run export

deploy:
  provider: pages
  keep-history: true
  skip-cleanup: true
  local-dir: ./out
  on:
    branch: master
