language: node_js
node_js: 8.11.1
cache: npm

before_deploy:
- npm install
- npm run export
- echo > ./out/.nojekyll 

deploy:
  provider: pages
  keep-history: true
  skip-cleanup: true
  local-dir: './out'
  github-token: ${GITHUB_TOKEN}
  on:
    branch: master
